* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-container {
    background-color: #f3eed9;
}

.row {
    display: flex;
    width: 90%;
    max-width: 1128px;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.second-row {
    background-color: #222c2a;
}

.last-row {
    background-color: #824936;
}

.hero{
    font-family: 'Roboto', sans-serif;
    width: 80%;
    padding: 8em 0;
    margin: auto;
}

.hero__top-text {
    margin-left: 13em;
    letter-spacing: 10px;
    font-weight: normal;
}

.hero__bottom-text {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    color: #824936;
}

.main-content {
    font-family: 'Playfair Display', serif;
    font-size: 26px;
}

.primary-content__header {
    padding-top: 5rem;
    color: #824936;
    text-align: center;
}

.secondary-content__text-content {
    color: #f3eed9;
}

.text-content {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    flex-basis: 50%;
    margin-left: 50px;
}

.text-content img {
    width: 100%;
    max-width: 100%;
    object-fit: contain;
}

.secondary-content__text-content p {
    padding-top: 1.5em;
}